# Node Modules
node_modules/

# Yarn
yarn.lock

# Output
dist/

# Config
src/config/leadsourcerecorddefinition.xml
src/config/eventGuid.js

# PWS Services 
src/services/pwsConfig.js

# Sounds
src/sounds/accept.js
src/sounds/deny.js
src/sounds/scan.js

README.md