@import "./variables";
.material-item {
	display: flex;
	align-items: center;
	position: relative;
	margin: 0.3em 0;
	border-radius: 4px;
	background-color: #e8e8e8;
	overflow: hidden;

	label {
		flex: 1;
		padding: 1em 1em;
		font-weight: 700;
		z-index: 3;
	}

	.box {
		z-index: 3;
	}

	&.complete {
		label {
			color: #fff;
		}
	}

	&.disabled {
		label {
			text-decoration: line-through;
			color: #888;
		}
	}

	&:not(.disabled)::after {
		content: "";
		transform: translate3d(100%, 0, 0);
		opacity: 0.3;
		transition: all 0.23s ease-in-out;
		height: 100%;
		width: 100%;
		position: absolute;
		border-radius: 4px;
		background-color: rgba(126, 196, 183, 1);
	}

	&.complete:not(.disabled)::after {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}
